.collection-grid__products {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}

@media (min-width: 992px) {
  .collection-grid__products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.collection-grid__card {
  width: 100%;
}
