.collection-grid {
  padding-top: calc(var(--header-height) + 40px);
}

.collection-grid__products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
}

@media (min-width: 992px) {
  .collection-grid__products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .collection-grid__products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.collection-grid__card {
  width: 100%;
}
